
h3 {
    font-family: Segoe UI;
}
.container {
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    font-family: Segoe UI;
}

resign-date {
    align-items: center;
    border: none !important;
    padding: 0.375rem 0.75rem !important;
}

.button-apply {
    padding: .375rem 2rem;
    color: #fff;
    border: none;
    border-color: #ff8750;
    background-color: #ff8750;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.withdraw {
    padding: 5px;
    color: #fff;
    border: none;
    background-color: #DC3545;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-family: Segoe UI;
    font-weight: 500;
    text-transform:uppercase;
}

.input-backgound {
    border: none !important;
    background-color: #F0F0F0 !important;
    border-radius: 6px !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem #00000026 !important;
}


